<!DOCTYPE html>
<html>
<head>
  <title>CapsTray</title>
  <meta charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="src/client/main.css" rel="stylesheet">
  <script src="src/client/lib/vue.min.js"></script>
  <script src="src/client/app.js"></script>
</head>
<body>
  <div id="wall">
    <div class="navbar">
      <img src="http://www.incicaps.com/res/yeni/images/logo.png" />
      <button class="refresh" @click="refresh" v-if="!isLoading">Yenile</button>
    </div>

    <img class="loading" src="http://www.incicaps.com/res/yeni/images/yeni_load.gif" v-if="isLoading" />

    <div class="caps" v-for="caps in capsList">
      <div class="header">
        <img :src="caps.author.avatar" />
        <p v-html="caps.author.nick"></p>
      </div>
      <div class="content">
        <h4>{{caps.title}}</h4>
        <img :src="caps.src || caps.caps" />
        <p>{{caps.desc || ''}}</p>
      </div>
    </div>

    <button class="load-more" @click="loadMore" v-if="!isLoading">Devamini Getir</button>
  </div>
</body>
</html>
