body {
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #E3E2E5;
  cursor: default;
}

p, h4 {
  margin: 0;
  padding: 0;
}

.caps {
  background-color: #F1F1F1;
  border-radius: 5px;
  padding: 20px 12px 20px 16px;
  margin-bottom: 40px;
}

.caps .header img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
}

.caps .header {
  overflow: hidden;
  margin-bottom: 15px;
}

.caps .header p:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
}

.caps .header p:last-child {
  font-size: 13px;
  color: 10px;
}

.caps .content img {
  max-width: 500px;
}

.caps .content h4 {
  font-size: 18px;
  margin-bottom: 8px;
}

.caps .content p {
  margin-top: 8px;
  font-size: 14px;
}

.load-more {
  width: 100%;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  background: #47a447;
  border: 1px solid #398439;
  cursor: pointer;
  outline: none;
}

.loading {
  width: 36px;
  position: relative;
  left: 50%;
  margin: 40px -18px;
}

.navbar {
  padding: 0 10px;
  height: 52px;
  background-color: #DE1640;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
}

.navbar img {
  position: relative;
  top: 5px;
}

.navbar button {
  position: absolute;
  right: 10px;
  height: 40px;
  line-height: 40px;
  background-color: #4e4e4e;
  color: #fff;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  outline: none;
  cursor: pointer;
  top: 5px;
}
